.main{

    height: 100%;
}

body ,html{
    height: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left, .right{
    height: 100%;
    width: 50%;
    float: left;
    padding: 50px;
}

.left{
    border-right: 1px solid gray;
}
.buttonc{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,.2);

}
.buttonc:active{
    box-shadow: none;
}
.buttonc:focus{
    outline: none;
}
#userinput{
    border: 1px solid green;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;

}
#userinput:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 9px 4px rgba(23, 9, 218, 0.2);
}
li{
    border: 1px solid #000;
    height: 35px;
    margin-bottom: 10px;
    padding: 7px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,.2);
    list-style-type: none;

}